@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&family=Roboto+Condensed&display=swap");

.dark {
  text-align: center;
}

h1,
h2,
h3,
h4,
.navbar-brand {
  font-family: "Oleo Script", sans-serif !important;
}
.projects-icon {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 20px;
}
a.nav-link a {
  text-decoration: none;
  color: lightgrey;
}
p,
.list-group-item {
  font-family: "Roboto Condensed", sans-serif !important;
}
a.icons img {
  width: 50px;
}
#northcoders-experience {
  height: 424px;
}
div.mb-5.card {
  background-color: rgb(32, 32, 32);
  height: 220px;
}
.underline {
  margin: 0px auto;
  width: 80px;
  height: 2px;
  background: lightblue;
}

/* Popup section for 5 main projects */
.fill-screen {
  position: absolute;
  left: 50px;
  right: 50px;
  top: 50px;
  bottom: 50px;
  background-color: white;
  z-index: 10;
  border-radius: 20px;
  border: 1px solid lightblue;
}

#popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-text {
  height: 60px;
}
button.btn.btn-secondary {
  position: absolute;
  padding: 0px 4px 0px 4px;
  top: 4%;
  right: 4%;
}
.darker {
  color: whitesmoke;
  background-color: #343a40;
}
.card-img-top {
  height: 60px;
  width: 60px;
}
@media only screen and (max-width: 400px) {
  h4.p-4 {
    margin: 0px 10px 0px 50px;
  }
  .fill-screen {
    top: 10px;
    right: 5px;
    left: 5px;
    bottom: 10px;
  }
  
}
